CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.vtu
*.pvtu
*.vtk
*.ipynb_checkpoints*
tandem/build/*
*.json
*.cyp
*.msh
*.log
results/*.png

